{% extends "base.html" %}

{% block title %}
    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title>Mokinio prašymas</title>
    {% endif %}
{% endblock %}

{% block menu %}
    {% include "student/student-menu.html" %}
{% endblock %}

{% block content %}
    {% if application.step != 3 %}
        <a href="{{ url_for('student.form_required') }}" class="btn btn-success">Pildyti prašymą</a>
    {% endif %}
        {% if application %}
            <div>
                <dl>
                    <dt>{{ first }}</dt>
                    <dd>Pasirinka pamokų 3 klasėje</dd>
                    <dt>{{ second }}</dt>
                    <dd>Pasirinka pamokų 4 klasėje</dd>
                </dl>
            </div>
            {% if application.step != 3 %}
                <div>

                    <a href="{{ url_for('student.delete_application') }}" class="btn btn-danger">Ištrinti prašymą</a>
                    {% if application.step == 2 %}
                        <a href="{{ url_for('student.administrate') }}" class="btn btn-info">Perduoti
                            administravimui</a>
                    {% endif %}
                </div>
            {% endif %}
            <embed src="{{ url_for('student.gen_pdf') }}" width="800" height="800" frameborder="0"
                   type="application/x-pdf"/>
        {% endif %}
{% endblock %}