{% extends "base.html" %}

{% block title %}
    <title>Kontaktine informacija</title>
{% endblock %}


{% block content %}

    <div>
        <form action="" method="post">
            <div class="control-group">
                <label for="class_number" class="control-label">El.paštas</label>

                <div class="controls">
                    <input type="text" name="email" value=""/>
                </div>
            </div>
            <div class="control-group">
                <label for="class_number" class="control-label">Telefono numeris</label>

                <div class="controls">
                    <input type="text" name="phone" value=""/>
                </div>
            </div>
            <div class="control-group">
                <label for="class_number" class="control-label">Slaptažodis</label>

                <div class="controls">
                    <input type="password" name="password" value=""/>
                </div>
            </div>
            <input type="submit" value="Išsaugoti" class="btn btn-success"/>
        </form>
    </div>
{% endblock %}