{% extends "base.html" %}

{% block title %}
    <title>Prašymas</title>
{% endblock %}

{% block menu %}
    {% include "student/student-menu.html" %}
{% endblock %}

{% block content %}



    <script>
        $(document).ready(function () {

            deleteSomeLessons();

            $('legend').click(function () {
                var $this = $(this);
                var parent = $this.parent();
                var contents = parent.contents().not(this);
                var group = parent.find('.group');
                group.toggle();
            });

            function deleteSomeLessons() {
                var secondLessons = [];
                $('#chooseOne').find('table tr td input').each(function (index) {
                    secondLessons[index] = $(this);
                });
                for (var i = 0; i < secondLessons.length; ++i) {
                    secondLessons[i].closest('tr').show();
                }
                var checkMainLessons = [];
                $('#mainLessons').find('table tr td input:checked').each(function (index) {
                    checkMainLessons[index] = $(this);
                });

                for (var i = 0; i < checkMainLessons.length; ++i) {
                    for (var j = 0; j < secondLessons.length; ++j) {
                        var secondListItem = secondLessons[j].closest('tr').find('.lessonName');
                        var firstListItem = checkMainLessons[i].closest('tr').find('.lessonName');
                        console.log(firstListItem.text());
                        if (firstListItem.text() == secondListItem.text()) {
                            secondListItem.closest('tr').hide();
                        }
                    }
                }
            }

            $('#mainLessons').find('table tr td input').click(function () {
                deleteSomeLessons();
            });


            $('#test2').css("height", $('#test').height() - 70);
            $('#test').click(function () {
                $('#test2').css("height", $('#test').height() - 70);
            });
        });
    </script>

    {% if chosen %}
        <script type="text/javascript">
            $(document).ready(function () {
                var allFieldSets = []
                $('fieldset').each(function (index) {
                    allFieldSets[index] = $(this);

                    if ($(this).find('input:checked').length == 0) {
                        $(this).find('.group').toggle();
                        $(this).find('legend').css('background', '#F2DEDE');
                        $('#test2').css("height", $('#test').height() - 70);
                    }
                });

            });
        </script>
    {% endif %}
    <h2>Privalomi dalykai</h2>
    <span>Privaloma pasirinkti po vieną pamoką iš kiekvienos grupės</span>
    <div class="row">
        <div class="span1" style="border-right:1px solid #848484;" id="test2">
            <div class="numberCircle">1</div>
        </div>
        <div class="span10" id="test">
            <form action="" method="post">
                <div id="mainLessons">
                    <fieldset>
                        <legend> Privalomi</legend>
                        <div class="group" style="display: none">
                            <table class="table">
                                <tr>
                                    <th>Pamoka</th>
                                    <th>Lygis</th>
                                    <th>Iš viso pamokų</th>
                                    <th>11k.</th>
                                    <th>12k.</th>
                                </tr>
                                {% for lesson in lessons['required'] %}
                                    <div class="control-group">
                                        <label>
                                            <tr>
                                                <td>
                                                    <input type="radio" value="{{ lesson.id }}" name="{{ lesson.name }}"
                                                           checked="checked"/> <span
                                                        class="lessonName">{{ lesson.name }}</span>
                                                </td>
                                                <td>
                                                    {% if lesson.level == 0 %} A {% else %} B {% endif %}
                                                </td>
                                                <td>
                                                    {{ lesson.credits }}
                                                </td>
                                                <td>
                                                    {{ lesson.first_year }}
                                                </td>
                                                <td>
                                                    {{ lesson.second_year }}
                                                </td>
                                            </tr>
                                        </label>
                                    </div>
                                {% endfor %}
                            </table>
                        </div>
                    </fieldset>
                    {% for key in lessons %}
                        <fieldset>
                            {% if key != 'required' %}
                                <legend> {{ key }}</legend>
                                <div class="group" style="display: none">
                                    <table class="table">
                                        <tr>
                                            <th>Pamoka</th>
                                            <th>Lygis</th>
                                            <th>Iš viso pamokų</th>
                                            <th>11k.</th>
                                            <th>12k.</th>
                                        </tr>
                                        {% for lesson in lessons[key] %}
                                            <div class="control-group">
                                                <label>
                                                    <tr>
                                                        <td>
                                                            {% if chosen %}
                                                                <input type="radio" value="{{ lesson.id }}"
                                                                       name="{{ key }}"
                                                                        {% for chosenLesson in chosen %}
                                                                            {% if chosenLesson == lesson.id %}
                                                                       checked
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                        />
                                                                <span class="lessonName">{{ lesson.name }}</span>
                                                            {% else %}
                                                                <input type="radio" value="{{ lesson.id }}"
                                                                       name="{{ key }}"/>
                                                                <span class="lessonName">{{ lesson.name }}</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if lesson.level == 0 %} A {% else %} B {% endif %}
                                                        </td>
                                                        <td>
                                                            {{ lesson.credits }}
                                                        </td>
                                                        <td>
                                                            {{ lesson.first_year }}
                                                        </td>
                                                        <td>
                                                            {{ lesson.second_year }}
                                                        </td>
                                                    </tr>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                        </fieldset>
                    {% endfor %}
                </div>
                {% if second_lessons %}
                    <fieldset>
                        <legend>Privaloma pasirinlti viena dalyka</legend>
                        <div class="group" style="display: none">
                            <div id="chooseOne">
                                <table class="table">
                                    <tr>
                                        <th>Pamoka</th>
                                        <th>Lygis</th>
                                        <th>Iš viso pamokų</th>
                                        <th>11k.</th>
                                        <th>12k.</th>
                                    </tr>
                                    {% for lesson in second_lessons %}
                                        <div class="control-group">
                                            <label>
                                                <td>
                                                    {% if chosen %}

                                                        <input type="radio" value="{{ lesson.id }}" name="chose_one"
                                                                {% for chosenLesson in chosen %}
                                                                    {% if chosenLesson == lesson.id %}
                                                               checked
                                                                    {% endif %}
                                                                {% endfor %}
                                                                /> <span class="lessonName">{{ lesson.name }}</span>
                                                    {% else %}
                                                        <input type="radio" value="{{ lesson.id }}" name="choose_one"/>
                                                        <span class="lessonName">{{ lesson.name }}</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if lesson.level == 0 %} A {% else %} B {% endif %}
                                                </td>
                                                <td>
                                                    {{ lesson.credits }}
                                                </td>
                                                <td>
                                                    {{ lesson.first_year }}
                                                </td>
                                                <td>
                                                    {{ lesson.second_year }}
                                                </td>
                                                </tr>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </fieldset>
                {% endif %}
                <button class="btn btn-success">Tęsti <i class="icon-arrow-right"></i></button>
        </div>
    </div>
    </form>
{% endblock %}