{% extends "base.html" %}

{% block title %}
    <title>Prasymas</title>
{% endblock %}

{% block menu %}
    {% include "student/student-menu.html" %}
{% endblock %}

{% block content %}
<table style="width: 100%; font-size: 12px;">
    <tr>
        <td style=""><b>Dalykai</b></td>
        <td style=""><b>Iš viso</b></td>
        <td style=""><b>3kl.</b></td>
        <td style=""><b>4kl.</b></td>
    </tr>
    {% for key in grouped_lessons %}
    <tr>
        <td>
        {% filter upper %}
            <b>{{ key }}</b>
        {% endfilter %}
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
        {% for lesson in grouped_lessons[key] %}
    <tr style="margin-top: 5px;">
        <td>{{ lesson.name }}</td>
        <td>{{ lesson.credits }}{%  if lesson.level == 0  %}A {% else %}B {% endif %}</td>
        <td>{{ lesson.first_year }}</td>
        <td>{{ lesson.second_year }}</td>
    </tr>
            {% endfor %}
    {% endfor %}
    <tr style="margin-top: 5px;">
        <td>Dėl modulio bus aišku po rugsėjo 1d.</td>
        <td>1</td>
        <td>X</td>
        <td>X</td>
    </tr>
</table>

{% endblock %}