{% extends "base.html" %}

{% block title %}
    <title>Profilis</title>
{% endblock %}

{% block menu %}
    {% include "student/student-menu.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span5">
            <fieldset>
                <legend>Asmenine informacija</legend>
                    <dl>
                        <dt>Vardas: </dt>
                        <dd>{{ user.person.first_name }}</dd>

                        <dt>Pavarde</dt>
                        <dd>{{ user.person.second_name }}</dd>

                        <dt>Klasė</dt>
                        <dd>{{ user.person.class_number }}{{ user.person.class_letter }}</dd>
                    </dl>
            </fieldset>
        </div>
        <div class="span5">
            <fieldset>
                <legend>Kontaktinė informacija</legend>
                    <dl>
                        <dt>El. pastas: </dt>
                        <dd>{{ user.person.email }}</dd>
                        <dt>Tel. Nr.: </dt>
                        <dd>{{ user.person.phone }}</dd>
                    </dl>
                <a href="#myModal" role="button" class="btn" data-toggle="modal">Atnaujinti informaciją</a>

                <!-- Modal -->
                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Kontaktinė informacija</h3>
                  </div>
                  <div class="modal-body">
                      <form action="{{ url_for('student.contacts') }}" method="post">
                        <div class="control-group">
                        <label for="class_number" class="control-label">El. paštas</label>
                        <div class="controls">
                            <input type="text" name="email"  value="{{ user.person.email }}"/>
                        </div>
                            <div class="control-group">
                        <label for="class_number" class="control-label">Telefono nr.</label>
                        <div class="controls">
                            <input type="text" name="phone"  value="{{ user.person.phone }}"/>
                        </div>
                    </div>
                      <div class="modal-footer">
                      <button class="btn" data-dismiss="modal" aria-hidden="true">Atšaukti</button>
                      <button class="btn btn-primary">Išsaugoti</button>
                  </div>
                  </form>
                  </div>

                </div>
            </fieldset>
        </div>
    </div>
    <a href="#passwordChange" role="button" class="btn" data-toggle="modal">Atnaujinti informaciją</a>

    <!-- Modal -->
    <div id="passwordChange" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Slapta=od=io keitimas</h3>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('student.new_password') }}" method="post">
                <div class="control-group">
                    <label for="class_number" class="control-label">Senas slaptažodis</label>
                    <div class="controls">
                        <input type="password" name="old_password" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="class_number" class="control-label">Naujas slaptažodis</label>
                    <div class="controls">
                        <input type="password" name="new_password" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="class_number" class="control-label">Pakartoti</label>
                    <div class="controls">
                        <input type="password" name="repeat_password" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Atšaukti</button>
                    <button class="btn btn-primary">Išsaugoti</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}