{% extends "base.html" %}

{% block title %}
    <title>Prasymas</title>
{% endblock %}

{% block menu %}
    {% include "student/student-menu.html" %}
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {

            $('#test2').css("height", $('#test').height() - 70);

        });
    </script>
    <h2>Neprivalomi dalykai</h2>
    <div class="row">
        <div class="span1" style="border-right:1px solid #848484;" id="test2">
            <div class="numberCircle">2</div>
        </div>
        <div class="span10" id="test">
            <form method="post">
                <table class="table">
                    <tr>
                        <th>Pamoka</th>
                        <th>Lygis</th>
                        <th>Iš viso pamokų</th>
                        <th>11k.</th>
                        <th>12k.</th>
                    </tr>
                    {% for lesson in lessons %}
                        <tr>
                            <td>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="checkbox" value="{{ lesson.id }}" name="{{ lesson.name }}"
                                                {% if chosen %}
                                                    {% for item in chosen %}
                                                        {% if item == lesson.id %}
                                                            checked
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                /> {{ lesson.name }}
                                    </div>
                                </div>
                            </td>
                            <td>
                                {% if lesson.level == 0 %} A {% else %} B {% endif %}
                            </td>
                            <td>{{ lesson.credits }}</td>
                            <td>{{ lesson.first_year }}</td>
                            <td>{{ lesson.second_year }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <a href="{{ url_for('student.form_required') }}" class="btn"><i class="icon-arrow-left"></i>Atgal</a>
                <button class="btn btn-success">Issaugoti</button>
            </form>
        </div>
    </div>
{% endblock %}