<li {% if active=='index' %} class="active" {% endif %}><a href="{{ url_for('student.index') }}">Pagrindinis</a></li>
<li {% if active=='profile' %} class="active" {% endif %}><a href="{{ url_for('student.profile') }}">Profilis</a></li>
<li {% if active=='application' %} class="active" {% endif %}><a href="{{ url_for('student.application') }}">Prašymas</a></li>
<li {% if active=='lessons' %} class="active" {% endif %}><a href="{{ url_for('student.lessons') }}">Pamokos</a></li>