{% extends "base.html" %}

{% block title %}
    <title>Prasymas</title>
{% endblock %}

{% block menu %}
    {% include "student/student-menu.html" %}
{% endblock %}

{% block content %}
    <form action="" method="post">
    {% for lesson in lessons %}
        <div>
        <input type="checkbox" name="free_to_take" value="{{ lesson.id }}" />{{ lesson.name }}
        </div>
    {% endfor %}
        <input type="submit" value="Baigti"/>
</form>
{% endblock %}