<!doctype html>
<link rel="stylesheet" href="/static/css/main.css" />
<style>
    .center {
        text-align: center;
    }

    table {
        border-collapse:collapse;
    }
    table, td, th {
        border:1px solid black;
    }
    #footer {
        position:fixed;
        bottom:0px;
        height:30px;
        width:80%;
        margin: 0 auto;
    }
    .left {
        clear: both;
        float: left;
        margin-bottom: 15px;
        text-align: center;
        line-height: 50%
    }

    .right {
        float: right;
        margin-bottom: 15px;
        text-align: center;
        line-height: 50%
    }
</style>


<p style="font-size: 11px;">Panevėžio Vytauto Žemkalnio gimnazija</p>
<table style="width: 100%; font-size: 12px;">
    <tr style="border: 1px solid black">
        <td style="">Vardas</td>
        <td style="">Pavardė</td>
        <td style="">Klasė</td>
        <td style="">Prisijungimo vardas</td>
        <td style="">Prisijungimo slaptažodis</td>
    </tr>
    {% for user in users %}
    <tr style="margin-top: 5px;">
        <td>{{ user.person.first_name }}</td>
        <td>{{ user.person.second_name }}</td>
        <td>{{ user.person.class_number }}{{ user.person.class_letter }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.first_password }}</td>
    </tr>
    {% endfor %}
</table>