#content{
    width: 960px;
    margin: 0 auto;
}

#form-content {
    display: none;
    margin-bottom: 25px;
}

#lesson-new {
    margin-bottom: 25px;
}

header{
    width: 100%;
    background: #f5f5f5;
    height: 80px;
    margin-bottom: 25px;
}

#header-content{
    width: 960px;
    margin: 0 auto;
}

#logo {
    float: left;
    width: 110px;
    height: 78px;
    margin: auto 0;
}

#nav-bar {
    width: 100%;
    height: 32px;
    margin: auto 0;
    padding-top: 45px;
}

#navs {
    margin: auto 0;
}

#errors {
    margin :20px;
}

#login-window {
    width: 450px;
    height: 200px;
    border: 5px solid #f5f5f5;
    padding: 10px;
    margin: 75px auto;
}
#upload-real{
    display: none;
}

#import-users{
    margin-top: -25px;
}

#import-students{
    display: none;
}

.numberCircle {
    border-radius: 50%;

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}

dl {
    margin-bottom:50px;
}

dl dt {
    background:#5f9be3;
    color:#fff;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px;
    width:200px;
}

dl dd {
    margin:2px 0;
    padding:5px 0;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 2px;
  line-height: 14px;
}