<li {% if active=='index' %} class="active" {% endif %}><a href="{{ url_for('admin.index') }}">Pagrindinis</a>
<li {% if active=='lessons' %} class="active" {% endif %}><a href="{{ url_for('admin.get_all_lessons') }}">Pamokos</a>
</li>
<li {% if active=='groups' %} class="active" {% endif %}><a href="{{ url_for('admin.groups') }}">Pamokų grupės</a></li>
<li {% if active=='types' %} class="active" {% endif %}><a href="{{ url_for('admin.types') }}">Tipai</a></li>
<li {% if active=='system' %} class="active" {% endif %}><a href="{{ url_for('admin.system_settings') }}">Nustatymai</a>
</li>
<li {% if active=='users' %} class="active" {% endif %}><a href="{{ url_for('admin.users') }}">Vartotojai</a></li>
<li {% if active=='classes' %} class="active" {% endif %}><a href="{{ url_for('admin.classes') }}">Klasės</a></li>
<li {% if active=='database' %} class="active" {% endif %}><a href="{{ url_for('admin.databases') }}">Duomenų bazės</a>
<li {% if active=='statistic' %} class="active" {% endif %}><a href="{{ url_for('admin.statistic') }}">Statistika</a>
</li>
{% if session.logged %}
<script>
    $(document).ready(function () {

        function refreshNotifications() {
            var count = 0;
            $.ajax({
                url: '{{ url_for('admin.notifications_count') }}',
                method: 'GET'
            }).done(function (data) {
                        count = parseInt(data['count'])
                        if (count > 0) {
                            $('#count').text(count);
                            $('#count_div').show();
                        } else {
                            $('#count_div').hide();
                        }
                    });

            setTimeout(function () {
                refreshNotifications();
            }, 100);

        }

        refreshNotifications();
    });
</script>
<a href="{{ url_for('admin.notifications') }}">
    <span class="badge" id="count"></span>
</a>
{%  endif %}