{% extends "base.html" %}

{% block title %}
    <title>Klasės</title>
{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th>Klasė</th>
            <th>Mokinių skaičius</th>
            <th>Vaikinai</th>
            <th>Merginos</th>
        </tr>
        {% for key in classes %}
        <tr>
            <td><a href="{{ url_for('admin.class_info', info=key) }}">{{ key }}</a></td>
            <td>{{ classes[key].students }}</td>
            <td>{{ classes[key].mans  }}</td>
            <td>{{ classes[key].girls  }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

