{% extends "base.html" %}

{% block title %}
    <title>Klasė {{ info }}</title>
{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}
    <div class="statistic">
        <a href="{{ url_for('admin.get_report', info=info) }}" class="btn btn-primary">Parsisiūsti suvestinę</a>
        <a href="{{ url_for('admin.delete_class', class_info=info) }}" class="btn btn-primary">Ištrinti klasę</a>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Nr.</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th>Lytis</th>
            <th>Paraiška</th>
        </tr>
        {% for user_map in users %}
        <tr>
            <td>{{ user_map['user'].person.id }}</td>
            <td><a href="{{ url_for('admin.user_application', user_id=user_map['user'].person.id) }}">{{ user_map['user'].person.first_name }}</a></td>
            <td><a href="{{ url_for('admin.user_application', user_id=user_map['user'].person.id) }}">{{ user_map['user'].person.second_name  }}</a></td>
            <td>
                {%  if user_map['user'].person.gender == 1 %}
                    Mot.
                {% elif user_map['user'].person.gender == 0 %}
                    Vyr.
                {% endif %}
            </td>
            <td>
                {%  if user_map['application'] %}
                     {%  if user_map['application'].step == 3 %}
                        Užpildyta
                     {% else %}
                         Pradėta
                     {% endif %}
                {% else %}
                    Nepradėta
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

