{% extends "base.html" %}

{% block title %}
    <title>Duomenų bazės</title>
{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}
    <div>
        <a href="{{ url_for('admin.database_backup') }}" class="btn btn-large btn-primary">
            <i class="icon-arrow-down"></i>
            Parsisiųsti atsarginę kopiją
        </a>
    </div>
    <br/>
    <div>
    <form action="{{ url_for('admin.databases') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="upload-real">
            <div style="margin-bottom: 25px">
                <button class="btn btn-primary btn-large" id="upload-fake">Pasirinkti</button>
                <span id="file-name"></span>
            </div>
            <input type=submit value="Įkelti" class="btn btn-success">
    </form>
    </div>
{% endblock %}