{% extends "base.html" %}

{% block title %}
    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title>Pamokų grupės</title>
    {% endif %}
{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}

    <div id="errors">
        {% if form.group_name.errors %}
            {% for error in form.group_name.errors %}
                <span class="alert alert-error">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <form action="/admin/settings/groups" method="post" class="form-horizontal" style="display: none">


        {{ form.hidden_tag() }}
        <div class="control-group">
            <label class="control-label" for="group_name">Grupės pavadinimas: </label>

            <div class="controls">
                {{ form.group_name }}
            </div>
        </div>


        <div>
            <input type="submit" name="submit" value="Išsaugoti" class="btn btn-success"/>
        </div>
    </form>

    <div class="row">
        <div class="span6">
            <table class="table">
                <tr>
                    <th>Nr.</th>
                    <th>Pavadinimas</th>
                    <th>Veiksmai</th>
                </tr>
                {% for group in groups %}
                    <div class="modal hide fade" id="modal{{ group.id }}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3>Atnaujino pangas</h3>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('admin.update_group', group_id=group.id) }}"
                                  class="form-horizontal" method="post">
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="group_name">Grupes pavadinimas:</label>

                            <div class="controls">
                                <input type="text" name="group_name" value="{{ group.name }}"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Atsaukti</button>
                            <button class="btn btn-primary">Issaugoti</button>
                        </div>
                        </form>
                    </div>
                    <tr>
                        <td>{{ group.id }}</td>
                        <td>{{ group.name }}</td>
                        <td>
{#                            <a href="{{ url_for('admin.delete_group', group_id=group.id) }}"><i#}
{#                                class="icon-remove-sign"></i></a>#}
                            <a href="#modal{{ group.id }}" role="button" data-toggle="modal"><i
                                    class="icon-edit"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}