{% extends "base.html" %}

{% block title %}
    <title>Klasė {{ info }}</title>
{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}
    <h2>Administracija</h2>
    <hr />
    Sveiki prisijungia kaip administracijos darbuotojas. Čia galėsite peržiūrėti mokinių pamokų pasirinkimus, patvirtinti naujus prašimus.
{% endblock %}

