{% extends "base.html" %}

{% block title %}
    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title>Tipas</title>
    {% endif %}
{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}

    <div id="errors">
        {% if form.lesson_type_name.errors %}
            {% for error in form.lesson_type_name.errors %}
                <span class="alert alert-error">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <form action="{{ url_for('admin.types') }}" method="post" class="form-horizontal">


        {{ form.hidden_tag() }}
        <div class="control-group">
            <label class="control-label" for="group_name">Tipo pavadinimas: </label>

            <div class="controls">
                {{ form.lesson_type_name }}
            </div>
        </div>


        <div>
            <input type="submit" name="submit" value="Išsaugoti" class="btn btn-success"/>
        </div>
    </form>

    <div class="row">
        <div class="span6">
            <table class="table">
                <tr>
                    <th>Nr.</th>
                    <th>Pavadinimas</th>
                </tr>
                {% for type in types %}
                    <div class="modal hide fade" id="modal{{ type.id }}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3>Atnaujinomo langas</h3>
                        </div>
                        <div class="modal-body">

                            <div class="control-group">
                                <label class="control-label" for="group_name">Grupės pavadinimas:</label>

                                <div class="controls">
                                    <input type="text" name="group_name" value="{{ type.name }}"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">uždaryti</a>
                                <button value="Issaugoti" class="btn btn-success" data-dismiss="modal"
                                        aria-hidden="true"><i class="icon-ok"></i> Išsaugoti
                                </button>
                            </div>
                        </div>
                    </div>
                    <tr>
                        <td>{{ type.id }}</td>
                        <td>{{ type.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}