{% extends "base.html" %}

{% block title %}
    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title>Pamokos</title>
    {% endif %}
{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}
    <button id="lesson-new" class="btn btn-info btn-large">
        <i class="icon-plus"></i> Sukurti naują
    </button>
    <div id="form-content">
        <form action="{{ url_for('admin.get_all_lessons') }}" method="post" class="form-horizontal">
        <div class="row">
         <div class="span5">
        <div class="control-group">
            <label class="control-label" for="name">Pamokos pavadinimas</label>
            <div class="controls">
                <input type="text" name="name"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="group">Grupė</label>
            <div class="controls">
                <select name="group">
                    <option value="">Nėra</option>
                    {% for group in groups %}
                        <option value="{{ group.id }}" {% if group.id == selected.group %} selected {% endif %}>
                            {{ group.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="lesson_type">Tipas</label>
            <div class="controls">
                <select name="lesson_type">
                    <option value="">Nėra</option>
                    {% for type in lesson_types %}
                        <option value="{{ type.id }}" {% if type.id == selected.type %} selected {% endif %}>
                            {{ type.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        </div>
        <div class="span5">
        <div class="control-group">
            <label class="control-label" for="credits">Pamokų skaičius</label>
            <div class="controls">
                <input type="text" name="credits"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="first_year">Vienuoliktoje klasėje</label>
            <div class="controls">
                <input type="text" name="first_year"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="second_year">Dvyliktoje klasėje</label>
            <div class="controls">
                <input type="text" name="second_year"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="level">Lygis</label>
            <div class="controls">
                <select name="level" id="">
                    <option value="0" >A</option>
                    <option value="1" >B</option>
                </select>
            </div>
        </div>
            </div>
        </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success">
                    <i class="icon-ok"></i> Išsaugoti
                </button>
                <button type="button" class="btn" id="lesson-cancel">Atšaukti</button>
             </div>
        </form>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Nr.</th>
            <th>Grupė</th>
            <th>Tipas</th>
            <th>Pavadinimas</th>
            <th>Pamokų skaičius</th>
            <th>Vienuoliktoje klasėje</th>
            <th>Dvyliktoje klasėje</th>
            <th>Lygis</th>
        </tr>
        {% for lesson in lessons %}
            <tr>

                <td>{{ lesson.id }}</td>
                <td>{{ lesson.group.name }}</td>
                <td>{{ lesson.lesson_type.name }}</td>
                <td>
                    <a href="{{ url_for('admin.lesson_page', lesson_id=lesson.id) }}">
                    {{ lesson.name }}
                    </a>
                </td>
                <td>{{ lesson.credits }}</td>
                <td>{{ lesson.first_year }}</td>
                <td>{{ lesson.second_year }}</td>
                <td>
                    {% if lesson.level == 1 %}
                        B
                    {% elif lesson.level == 0 %}
                        A
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}