{% extends "base.html" %}

{% block title %}
    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title>Pamoka {{ lesson.name }}</title>
    {% endif %}
{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}
    <a href="{{ url_for('admin.delete_lesson', lesson_id=lesson.id) }}" class="btn btn-danger"><i class="icon-minus-sign"> </i>Ištrinti</a>
        <form action="{{ url_for('admin.lesson_page', lesson_id=lesson.id) }}" method="post" class="form-horizontal">
        <div class="row">
         <div class="span5">
        <div class="control-group">
            <label class="control-label" for="name">Pamokos pavadinimas</label>
            <div class="controls">
                <input type="text" name="name" value="{{ lesson.name }}"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="group">Grupė</label>
            <div class="controls">
                <select name="group">
                    <option value="">Nėra</option>
                    {% for group in groups %}
                        <option value="{{ group.id }}" {% if group.id == selected.group %} selected {% endif %}>
                            {{ group.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="lesson_type">Tipas</label>
            <div class="controls">
                <select name="lesson_type">
                    <option value="">Nėra</option>
                    {% for type in lesson_types %}
                        <option value="{{ type.id }}" {% if type.id == selected.type %} selected {% endif %}>
                            {{ type.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        </div>
        <div class="span5">
        <div class="control-group">
            <label class="control-label" for="credits">Pamokų skaičius</label>
            <div class="controls">
                <input type="text" name="credits" value="{{ lesson.credits }}"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="first_year">Vienuoliktoje klasėje</label>
            <div class="controls">
                <input type="text" name="first_year" value="{{ lesson.first_year }}"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="second_year">Dvyliktoje klasėje</label>
            <div class="controls">
                <input type="text" name="second_year" value="{{ lesson.second_year }}"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="level">Lygis</label>
            <div class="controls">
            <select name="level" id="">
                    <option value="0" {% if lesson.level == 0 %} selected {% endif %}>A</option>
                    <option value="1" {% if lesson.level == 1 %} selected {% endif %}>B</option>
                </select>
            </div>
        </div>
            </div>
        </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-success">
                    <i class="icon-ok"></i> Išsaugoti
                </button>
                <a href="{{ url_for('admin.get_all_lessons') }}" class="btn">Atšaukti</a>
             </div>
        </form>

{% endblock %}
