{% extends "base.html" %}

{% block title %}

    <title>Nauji prašymai</title>

{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <tr>
            <th>Nr.</th>
            <th>Mokinys</th>
        </tr>
        {% for application in applications %}
            <tr>
                <td>{{ application.id }}</td>
                <td>
                    <a href="{{ url_for('admin.user_application', user_id=application.user.id) }}">
                        {{ application.user.person.first_name }} {{ application.user.person.second_name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}