{% extends "base.html" %}

{% block title %}
    <title>Statistika</title>
{% endblock %}

{% block custom_js %}
    <script src="/static/js/charts/highcharts.js"></script>
{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function(){
            $("#grapth").click(function(){
                $("#chart").toggle();
                $("#table").toggle();
                if ($(this).text() === "Lentelė"){
                    $(this).text("Grafikas");
                } else {
                    $(this).text("Lentelė");
                }
            });
        });
    </script>

    <button class="btn btn-info" id="grapth">Grafikas</button>
    <table class="table" style="font-size: 11px" id="table">
        <thead>
        <tr>
            <th>Pavadinimas</th>
            <th>Pasirinkusių mokinių skaičius</th>
            <th>Procentinė išraiška</th>
            <th>Reikalingi mokytojai</th>
        </tr>
        </thead>
        <tbody>
        {% for key in lessons %}
            <tr>
                <td>{{ key.name }}</td>
                <td>{{ lessons[key] }}</td>
                <td>
                    {% set proc = lessons[key] / student_count * 100 %}
                    {{ '%0.2f' % proc|float }}%
                </td>
                <td>
                    {% set proc = lessons[key] * key.credits / 2 / 36 %}
                    {% if proc|float > 0 %}
                        {% if proc|float < 0.5 %}
                            1
                        {% else %}
                            {{ '%0.0f' % proc|float }}
                        {% endif %}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(function () {
            var lessons = [];
            var lessons_users = [];
            var teachers = [];
            {% for key in lessons %}
                lessons[{{ loop.index|tojson|safe }} -1] = {{ key.name|tojson|safe }};
                lessons_users[{{ loop.index|tojson|safe }} -1] = {{ lessons[key]|tojson|safe }};
                teachers[{{ loop.index|tojson|safe }} -1] = {% set proc = lessons[key] * key.credits / 2 / 36 %}
                    {% if proc|float > 0 %}
                        {% if proc|float < 0.5 %}
                            1
                        {% else %}
                            {{ '%0.0f' % proc|float }}
                        {% endif %}
                    {% else %}
                        0
                    {% endif %}
            {% endfor %}

            $('#container').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Mokinių pasirinkimų diagrama'
                },
                xAxis: {
                    categories: lessons,
                    allowDecimals: false
                },
                yAxis: {
                    title: {
                        text: 'Pasirinkę mokiniai'
                    },
                    allowDecimals: false
                },
                series: [
                    {
                        name: 'Mokinių skaičius',
                        data: lessons_users
                    },
                    {
                        name: 'Reikalingas mokytojų skaičius',
                        data: teachers
                    }
                ]
            });
        });
    </script>
    <div id="chart" style="display: none">
    <div id="container" style="width:80%; height:800px;"></div>
    </div>
{% endblock %}
