{% extends "base.html" %}

{% block title %}
    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title>Admin</title>
    {% endif %}
{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{%  block content %}
    {% if errors %}
        {% for field, error in errors.iteritems() %}
            <p class=error><strong>Klaida:</strong> {{ field }} {{ error }}
        {% endfor %}
    {% endif %}
    <form action="/admin/system-settings" method="post" class="form-horizontal">
        {{form.hidden_tag()}}

        <div class="control-group">
            <label class="control-label" for="max_lessons">Maksimalus pamokų skaičius: </label>
            <div class="controls">
                {{ form.max_lessons(value=max_lessons) }}
            </div>
        </div>
        <div>
            {% if form.max_lessons.errors %}
                {% for error in form.max_lessons.errors %}
                    <span class="alert alert-error">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="control-group">
            <label class="control-label" for="min_lessons">Minimalus pamokų skaičius </label>
            <div class="controls">
                {{ form.min_lessons(value=min_lessons) }}
            </div>
        </div>

        <div>
            {% if form.min_lessons.errors %}
                {% for error in form.min_lessons.errors %}
                    <span class="alert alert-error">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="control-group" style="display: none">
            <label class="control-label" for="date_until">Leidžiama pildyti iki: </label>
        <div class="controls">
            {{ form.date_until(value=date_until, id="date_until") }}
        </div>
        <div>
            {% if form.date_until.errors %}
                {% for error in form.date_until.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        </div>
        <div class="form-actions">
            <input type="submit" name="submit" value="Išsaugoti" class="btn btn-success"/>
        </div>
    </form>
    <script type="text/javascript">


    </script>
{% endblock %}