{% extends "base.html" %}

{% block title %}

    <title>Administracinis puslapis</title>

{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}
    <div>
        <dl>
            <dt>Pasirinka pamokų 3 klasėje</dt>
            <dd>{{ first }}</dd>
            <dt>Pasirinka pamokų 4 klasėje</dt>
            <dd>{{ second }}</dd>
        </dl>
    </div>
    <div>
        {% if application.confirm != 1 %}
            <a href="{{ url_for('admin.confirm', student_id=student_id) }}" class="btn btn-success">Patvirtinti</a>
        {% endif %}
        <div>
            <form action="{{ url_for('admin.reject', student_id=student_id) }}" method="post">
                <div class="control-group">
                    <label for="name" class="control-label">Priežastis</label>

                    <div class="controls">
                        <textarea name="reason" id="" cols="60" rows="5"></textarea>
                    </div>
                </div>
                <div>
                    <input type="submit" class="btn btn-danger" value="Atmesti"/>
                </div>
            </form>
        </div>
    </div>
    <embed src="{{ url_for('admin.gen_pdf', student_id=student_id) }}" width="800" height="800" frameborder="0"
           type="application/x-pdf"/>
{% endblock %}