{% extends "base.html" %}

{% block title %}

    <title>Administracinis puslapis</title>

{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}
    <button id="lesson-new" class="btn btn-info btn-large">
        <i class="icon-plus"></i> Sukurti naują
    </button>
    <button id="import-users" class="btn btn-info btn-large">
        <i class="icon-plus"></i> Įkelti
    </button>
    <a href="{{ url_for('admin.print_students') }}" class="btn btn-info btn-large" style="margin-bottom: 24px;" target="_blank" >
        <i class="icon-print"> Paruošti spausdinimui mokinių saraša</i></a>
    <div id="form-content">
    <div class="row">
    <form action="{{ url_for('admin.users') }}" method="POST" class="form-horizontal">
        <div class="span5">
    <fieldset>
        <legend class="text-center">Sistemos vartotojo informacija</legend>
        <div class="control-group">
            <label for="username" class="control-label">Prisijungimo vardas</label>
            <div class="controls">
                <input type="text" name="username"/>
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">Prisijungimo slaptažodis</label>
            <div class="controls">
                <input type="password" name="password"/>
            </div>
        </div>
        </fieldset>
            </div>
        <div class="span5">
            <fieldset>
        <legend class="text-center">Asmeninė informacija</legend>
        <div class="control-group">
            <label for="name" class="control-label">Vardas</label>
            <div class="controls">
                <input type="text" name="name"/>
            </div>
        </div>
        <div class="control-group">
            <label for="last_name" class="control-label">Pavarde</label>
            <div class="controls">
                <input type="text" name="last_name"/>
            </div>
        </div>
        <div class="control-group">
            <label for="email" class="control-label">El. paštas</label>
            <div class="controls">
                <input type="text" name="email"/>
            </div>
        </div>
        <div class="control-group">
            <label for="role" class="control-label">Vartotojo lygis</label>
            <div class="controls">
                <select name="role" id="role">
                    <option value="1">Mokinys</option>
                    <option value="0">Administracija</option>
                </select>
            </div>
        </div>
        <div id="student-info">
            <div class="control-group">
                <label for="class_letter" class="control-label">Klasės raidė</label>
                <div class="controls">
                    <input type="text" name="class_letter" class="span1"/>
                </div>
            </div>
            <div class="control-group">
                <label for="class_number" class="control-label">Klasės skaičius</label>
                <div class="controls">
                    <input type="text" name="class_number" class="span1"/>
                </div>
            </div>
        </div>
                </fieldset>
            </div>
        </div>
        <div class="form-actions">
                <button type="submit" class="btn btn-success">
                    <i class="icon-ok"></i> Išsaugoti
                </button>
                <button type="button" class="btn" id="lesson-cancel">Atšaukti</button>
             </div>
        </form>
    </div>
    <div id="import-students">
        <form action="{{ url_for('admin.import_users') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="upload-real">
            <div style="margin-bottom: 25px">
                <button class="btn btn-primary btn-large" id="upload-fake">Pasirinkti</button>
                <span id="file-name"></span>
            </div>
            <input type=submit value="Įkelti" class="btn btn-success">
            <button class="btn" id="cancel-import">Atšaukti</button>
    </form>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Nr.</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th>El. paštas</th>
            <th>Klasė</th>
            <th>Prisijungimo vardas</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ url_for('admin.user_page', id=user.id) }}">{{ user.person.first_name }}</a></td>
                <td><a href="{{ url_for('admin.user_page', id=user.id) }}">{{ user.person.second_name }}</a></td>
                <td>{% if user.person.email %} {{ user.person.email }} {% endif %}</td>
                <td>{% if user.person.class_number %}{{ user.person.class_number }}{{ user.person.class_letter }}{% endif %}</td>
                <td>{{ user.username }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}