{% extends "base.html" %}

{% block title %}
    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title>Admin</title>
    {% endif %}
{% endblock %}

{% block menu %}
    {% include "admin/admin-menu.html" %}
{% endblock %}

{% block content %}
    <a href="{{ url_for('admin.delete_user',id=user.id) }}" class="btn btn-danger">Istrinti</a>
    <div class="row">
    <form action="{{ url_for('admin.user_page', id=user.id) }}" method="POST" class="form-horizontal">
        <div class="span5">
            <fieldset>
                <legend class="text-center">Sistemos vartotojo informacija</legend>
                <div class="control-group">
                    <label for="username" class="control-label">Prisijungimo vardas</label>
                    <div class="controls">
                        <input type="text" name="username" value="{{ user.username }}" readonly/>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="span5">
            <fieldset>
                <legend class="text-center">Asmeninė {{ user.username }} informacija</legend>
                <div class="control-group">
                    <label for="name" class="control-label">Vardas</label>
                    <div class="controls">
                        <input type="text" name="name" value="{{ user.person.first_name }}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label for="last_name" class="control-label">Pavardė</label>
                    <div class="controls">
                        <input type="text" name="last_name" value="{{ user.person.second_name }}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label for="gender" class="control-label">Lytis</label>
                    <div class="controls">
                        <select name="gender" id="">
                            <option value="0" {% if user.person.gender == 0 %} selected {% endif %}>Vyr.</option>
                            <option value="1" {% if user.person.gender == 1 %} selected {% endif %}>Mot</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label for="email" class="control-label">El. paštas</label>
                    <div class="controls">
                        <input type="text" name="email" value="{{ user.person.email }}"/>
                    </div>
                </div>
                {% if user.role == 1 %}
                <div id="student-info">
                    <div class="control-group">
                        <label for="class_letter" class="control-label">Klasės raidė</label>
                        <div class="controls">
                            <input type="text" name="class_letter" class="span1" value="{{ user.person.class_letter }}"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="class_number" class="control-label">Klasės skaičius</label>
                        <div class="controls">
                            <input type="text" name="class_number" class="span1" value="{{ user.person.class_number }}"/>
                        </div>
                    </div>
                </div>
                {% endif %}
                </fieldset>
        </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success">
                <i class="icon-ok"></i> Išsaugoti
            </button>
            <a href="{{ url_for('admin.users') }}" class="btn" id="lesson-cancel">Atšaukti</a>
        </div>
    </form>
{% endblock %}