<!doctype html>
<link rel="stylesheet" href="/static/css/main.css" />
<style>
    .center {
        text-align: center;
    }

    table {
        border-collapse:collapse;
    }
    table, td, th {
        border:1px solid black;
    }
    #footer {
        position:fixed;
        bottom:0px;
        height:30px;
        width:80%;
        margin: 0 auto;
    }
    .left {
        clear: both;
        float: left;
        margin-bottom: 15px;
        text-align: center;
        line-height: 50%
    }

    .right {
        float: right;
        margin-bottom: 15px;
        text-align: center;
        line-height: 50%
    }
</style>

<p class="center" style="font-size: 14px;">
    {% filter upper %}
        {{ user.person.first_name }} {{ user.person.second_name }},
        {{ user.person.class_number }}{{ user.person.class_letter }}, {{ user.person.email }}, {{ user.person.phone }}
    {% endfilter %}
</p>

<p style="font-size: 11px;">Panevėžio Vytauto Žemkalnio gimnazija</p>
<p style="font-size: 11px;">Direktoriui</p>
<p class="center">PRAŠYMAS</p>
<p class="center" style="font-size: 12px">Dėl individualaus pamokų plano pasirinkimo</p>
<p class="center" style="font-size: 12px">{{ date.year }}-{{ date.month }}-{{ date.day }}</p>
<p style="font-size: 12px">Prašau leisti {{ first_year }}/{{ second_year }} m.m. mokytis 3/4 klasėse, šias pamokas:</p>
<table style="width: 100%; font-size: 12px;">
    <tr style="border: 1px solid black">
        <td style="">Dalykai</td>
        <td style="">Iš viso</td>
        <td style="">3kl.</td>
        <td style="">4kl.</td>
    </tr>
    {% for key in lessons %}
    <tr>
        {% filter upper %}
            <b>{{ key }}</b>
        {% endfilter %}
    </tr>
        {% for lesson in lessons[key] %}
    <tr style="margin-top: 5px;">
        <td>{{ lesson.name }}</td>
        <td>{{ lesson.credits }}{%  if lesson.level == 0  %}A {% else %}B {% endif %}</td>
        <td>{{ lesson.first_year }}</td>
        <td>{{ lesson.second_year }}</td>
    </tr>
            {% endfor %}
    {% endfor %}
    <tr style="margin-top: 5px;">
        <td>Dėl modulio bus aišku po rugsėjo 1d.</td>
        <td>1</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr style="margin-top: 5px;">
        <td><b>Turi būti 9-13 mokomųjų dalykų. </b></td>
        <td><b>Iš viso {{ min.value }}-{{ max.value }} val. </b></td>
        <td><b>{{ first_lesson_count }}</b></td>
        <td><b>{{ second_lesson_count }}</b></td>
    </tr>
</table>

<div id="footer">
    <div class="left">..........................<br />
        <p style="font-size: 10px">(parašas)</p></div>
    <div class="right">..................................................................<br />
         <p style="font-size: 10px">(vardas, pavardė)</p></div>
    <div class="left">..........................<br />
        <p style="font-size: 10px;">(Tėvų parašas)</p></div>
    <div class="right">..................................................................<br />
         <p style="font-size: 10px">(vardas, pavardė)</p></div>
</div>
