<!DOCTYPE html>
<html>
  <head>
    {% block title %} {% endblock %}
      <link rel="stylesheet" href="/static/css/bootstrap.css"/>
      <link rel="stylesheet" href="/static/css/main.css" />
      <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.10.3.custom.css">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="/static/js/jquery-1.9.1.js"></script>
      <script src="/static/js/jquery-ui-1.10.3.custom.js"></script>
      <script src="/static/js/bootstrap.js"></script>
      <script src="/static/js/main.js"></script>
      {% block custom_js %} {% endblock %}
  </head>
  <body>
    <header>
        <div id="header-content">
        <div id="logo">
            <img src="/static/img/mokykla.png" alt="" height="100px" width="100px" style="margin-top: 5px"/>
        </div>
            <div id="nav-bar">
                <ul class="nav nav-pills">

                    {% block menu %} {% endblock %}

                {% if session.logged %}

                <a href="{{ url_for('logout') }}" class="pull-right btn btn-mini"><i class="icon-remove-circle"></i></a>
            {% endif %}
                </ul>

            </div>

        </div>
    </header>

    <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        {% block content %}{% endblock %}
    </div>

  </body>
</html>