{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="span8">
            <blockquote>
            <h3>Profiliavimo sistema</h3>
            <hr />
            Sveiki, tai yra <b>Panevėžio Vytauto Žemkalnio gimnazijos</b> mokinių profiliavimo sistema.
            Prisijunkite su jums išduotais unikaliais prisijungimo vardu bei slaptažodžiu.
            Pagal jums priskirtas teises būsi nukreiptas į mokinio puslapį arba administracijos puslapį.
            </blockquote>
        </div>
        <div class="span3">
            <div id="login-window">
                <form action="{{ url_for('login') }}" class="form-horizontal" method="post">
                    <div class="control-group">
                        <label class="control-label" for="username">Prisijungimo vardas</label>

                        <div class="controls">
                            <input type="text" name="username"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Prisijungimo slaptažodis</label>

                        <div class="controls">
                            <input type="password" name="password"/>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success btn-large">
                            <i class="icon-ok"></i> Prisijungti
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}